@mixin flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%form-components {
    padding: 0.5em;
    margin-left: auto;
    width: 75%;
}