$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//project
$main-color: midnightblue;

//LoginForm
$valid-color: darkgreen;
$invalid-color: darkred;

//SignUp Form
$dark-color: navy;
$light-color: white;
$valid-signup: darkblue;
$invalid-signup: rgb(199, 12, 12);