@import '../../common/styles/vars';
@import '../../common/styles/templates';

* {
  box-sizing: border-box;
}

.formContainer {
  width: 50%;
  min-width: 320px;
  border: $dark-color 1px solid;
  border-radius: 0.5em;
  background-color: steelblue;
  color: $light-color;
  margin: 1em auto;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.formLabel {
  padding: 0.5em;
  // margin: 0.2em 0.2em 0.2em 0;
  width: 100%;

  display: flex;
}

.formInput {
  @extend %form-components;

  border-radius: 0.5em;
  // outline: none;
}

.formButton {
  @extend %form-components;

  background-color: $light-color;
  color: $dark-color;
  border-radius: 0.5em;
}

.valid {
  box-shadow: 0 0 5px 5px $valid-signup;
}

.invalid {
  box-shadow: 0 0 5px 5px $invalid-signup;
}
